html {
  scroll-behavior: smooth;
}

.hero-content {
  display: none;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
}

.hero-content {
  width: 50%;
  text-align: center;
  color: #000;
}

p {
  font-family: 'Karla', sans-serif;
  ;
  font-weight: 200;
  font-size: 15px;
  line-height: 25px;
}

a {
  font-family: 'Lato', sans-serif;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(77, 15, 2, 0.6);
  padding: 10px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

nav {
  width: 100%;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  background-color: rgb(161, 68, 59, 0.3);
  z-index: 10;
}

span .font-pair1a {
  font-family: 'Lato', sans-serif;
}

span .font-pair1b {
  font-family: 'Karla', sans-serif;
}


/* add your css below this line */

.hero-background {
  background: url("https://images.pexels.com/photos/7333600/pexels-photo-7333600.jpeg") no-repeat fixed center;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-background {
  background: url("https://images.pexels.com/photos/3678969/pexels-photo-3678969.jpeg") no-repeat fixed bottom;
}

.second-section-background {
  background: url("https://images.pexels.com/photos/3070211/pexels-photo-3070211.jpeg") no-repeat fixed bottom;
}

.third-section-background {
  background: url("https://images.pexels.com/photos/3811010/pexels-photo-3811010.jpeg") no-repeat fixed bottom;
}

.with-background {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px 0;
}

h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-weight: 150;
  line-height: 35px;
}

h3 {
  font-size: 55px;
  font-weight: 200;
  line-height: 60px;
  margin: 0;
}

.number {
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  color: #fff;
  text-align: center;
  top: -25px;
  right: -25px;
  font-weight: 30px;
  line-height: 50px;
}

article {
  max-width: 50%;
  margin: 20px auto;
  padding: 50px;
}

.first-article-container, .second-article-container, .third-article-container {
  position: relative;
}

.first-article-container {
  background-color: #e8ac9b;
}

.second-article-container {
  background-color: #a16443;
}

.third-article-container {
  background-color: #f0c048;
}

footer {
  text-align: center;
  padding: 35px 0;
  background-color: #ede1da;
}